.NavToggle {
    display: none;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.NavToggle div {
    width: 25px;
    height: 2px;
    margin: 5px;
    background-color: black;
}

.NavToggle .line2 {
    width: 17px;
    margin: 0 auto;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

@media (max-width: 900px) {
    .NavToggle {
        display: inline-block;
    }
}