.Cart {
    font-size: 17px;
    font-family: 'Libre Baskerville', serif;
    text-transform: lowercase;
    line-height: 1.5em;
    text-align: center;
}

.Cart .container {
    margin: 0 125px;
}

.Cart .container .cartHeader {
    text-align: center;
}

.Cart .container h1 {
    text-transform: uppercase;
    font-family: italic;
    font-size: 2rem;
    letter-spacing: 2px;
    margin: 50px;
    margin-bottom: 0;
}

.Cart .container .item {
    border-bottom: 1px solid rgb(153, 153, 153);
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.Cart .container .productCard {
    display: flex;
    align-items: center;
    margin-right: 20px;
    text-decoration: none;
    color: #000;
}

.Cart .container .productImage {
    width: 100%;
    max-width: 100px;
    margin: 10px;
}

.Cart .container .productPrice {
    margin-left: 50px;
}

.changeButton {
    color: #000;
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px #0b1c2c solid;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Libre Baskerville', serif;
    text-transform: lowercase;
    line-height: 1.5em;
}

.Checkout button {
    margin: 5px;
    padding: 5px 10px;
    font-size: 1rem;
    font-family: serif;
    padding: 0.5rem;
    color: #fff;
    background-color: #000;
    border: solid 1px grey;
    border-radius: 5px;
    cursor: pointer;
}

.totalPrice {
    margin: 20px 10px;
    font-size: 18px;
    font-weight: 600;
}

@media (max-width: 800px) {
    .Cart .container {
        margin: 0 100px;
    }

    .Cart .container h1 {
        margin: 50px 0;
    }

    .Cart .container .item,
    .productCard {
        margin: 0;
        flex-direction: column;
        justify-content: center;
    }

    .Cart .container .productPrice {
        margin-left: 0px;
    }
}