.Drawer .content {
    padding: 1rem 0;
    color: #000;
    background-color: rgba(255, 255, 255, 0.979);
    overflow: hidden;
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 4;

    transform: translateY(-110%);
    transition: all .5s;
}

.Drawer .Nav {
    justify-content: center;
    flex-direction: column;
}

.Drawer ul {
    flex-direction: column;
}

.Drawer>.content>.Nav>.logo {
    display: none;
}

.open .content {
    transform: translateY(0);
}

.Drawer .Nav .NavItem a {
    font-size: 1.2rem;
}

@media (min-width: 900px) {
    .Drawer .content {
        transform: translateY(-110%);
    }
}
