.Header {
    min-height: 60vh;
    background-color: wheat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    color: white;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

.Header img {
    width: 100%;
}

.Container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.Container h1 {
    margin: 0;
    text-transform: uppercase;
    font-family: italic;
}

.Container p {
    font-family: 'Libre Baskerville', serif;
}

.blur {
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.2);
}

.Header {
    position: relative;
    margin-bottom: 2rem;
}

.Header img {
    width: 100%;
    height: 70vh;
    min-height: 380px;
    object-fit: cover;
    object-position: top;

    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.Header section {
    position: absolute;
    bottom: 7rem;
    right: px;
    max-width: 500px;
    margin-left: 2rem;

    padding: 0 2rem 0;
    border-radius: 2rem;
    font-size: 1.2rem;
}

.Header h1 {
    font-size: 2rem;
}