.Footer {
    background-color: #000;
    color: #fff;
    padding: 3em 0;
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
    letter-spacing: .5px;
    margin-top: auto;
}

.Footer p {
    font-size: .9rem;
}

.Footer a {
    color: #fff;
}

.Footer a.active {
    background-color: rgb(223, 223, 223);
}

.Footer a:hover {
    color: goldenrod;
}

.Footer .container {
    padding: 0 5em;
    display: flex;
    justify-content: space-between;
}

.Footer .container ul {
    list-style: none;
    padding: 0;
}

.Footer .container .title {
    width: 300px;
}

.Footer .container .title h3 {
    font-size: 1.3rem;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 2px;
    font-weight: 500;
}

.Footer .container .form form input,
button {
    background-color: transparent;
    border: none;
    padding: 10px;
    font-size: .9rem;
    color: #fff;
}

.Footer .container .form form {
    border-bottom: 1px solid rgb(128, 128, 128);
    max-width: 350px;
}

.Footer .container .form form input {
    outline: none;
}

.Footer .container .form form button {
    margin: 0;
    cursor: pointer;
    border: none;
}

.Footer .container .socialLinks {
    margin-top: 15px;
}

.Footer .container .socialLinks img {
    color: #fff;
    width: 30px;
    margin: 5px;
}

.Footer .container .socialLinks ul {
    display: flex;
    justify-content: space-around;
    gap: 3px;
}

@media (max-width: 1000px) {
    .Footer .container {
        flex-direction: column;
    }

    .Footer .container .title {
        width: 100%;
    }

    .Footer p {
        font-size: .7rem;
    }

    .Footer .container .pages ul {
        margin-top: 30px;
        padding: 0;
        font-size: .8rem;
    }

    .Footer .container .socialLinks ul {
        padding: 0 50px;
    }

    .Footer .container .socialLinks img {
        width: 25px;
    }

    .Footer .container .form form {
        margin: 0 auto;
        padding: 5px;
        display: flex;
    }

    .Footer .container .form form input,
    button {
        margin: 0;
        padding: 5px;
    }

    .Footer .container .form form input {
        width: 100%;
    }
}