.Nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: wheat;
    padding: 0 1.5rem;

    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}

.Nav ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.NavLink .Logo {
    font-size: 1.3rem;
    letter-spacing: .1em;
    color: black;
    padding: 0rem;
    text-decoration: none;
}

.Logo:hover {
    background-color: transparent;
}